:root{
    --blue: #0065FE;
    --bg: #0065FE30;
}

* {font-family: "Noto Sans", sans-serif}

body {
    font-size: 105%;
    text-align: center;
}

table {
    margin: auto;
    margin-top: 2em;
    border-collapse: collapse;
    max-width: 98%;
}

td, th {
    border: 1px solid var(--blue);
    padding: 2px;
    min-width: 5em;
}

h2 {
    color: var(--blue);
    margin-bottom: 1.5em;
    margin-top: 1em;
}

thead {background-color: var(--bg)}
th, a {color: var(--blue)}
#Buttons, #File {display: none}

button {
    padding: 4px;
    margin: 0 0.4em;
    font-size: 75%;
    color: var(--blue);
    width: 5em;
    height: 5em;
    background-color: #FFFFFF00;
    border: none;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    background-color: var(--bg);
    border-radius: 6px;
}

button span.material-symbols-outlined {
    font-size: 32px;
}

select {
    border: none;
    background-color: white;
}

p.Small {
    margin-top: 2.5em;
    font-size: 80%;
}

textarea {
    width: calc(100% - 6px);
    visibility: hidden;
    margin-top: 2.5em;
    min-height: 16em;
    border: 1px solid var(--blue);
	font-family: Consolas, "Source Code Pro", "Source Sans Pro", monospace;
}
